@keyframes backColor {
    0% {
        background-color: var(--noir);
    }
    50% {
        background-color: var(--noir);
    }
    100% {
        background-color: var(--blanc);
    }
}

.prel {
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--blanc);
    animation: 4s backColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes fadeInUp {
    0% {
      transform: translateY(100%);
      opacity: 0;
      width: 400px;
    }
    80% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }
  

.prel img {
    width: 400px;
    height: auto;
    animation: 6s fadeInUp;
}