.colorContainer {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    font-family: 'MighaThin';
    font-size: 20px;
    width: 100%;
    
    /* Espaciado entre las columnas */
}

[class^="color_"] {
    background-color: #070707;
    /* Estilo de fondo común para clases que comienzan con "color_" */
    padding: 10px;
    /* Añade relleno para mayor legibilidad */
}

/* Estilos específicos para el div con clase "containerColor_2" */
.containerColor_2 {
       
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    
    
    /* Ocupar dos columnas completas */
}
.containerColor_2 .color_2,
.containerColor_2 .color_3 {
    width: 50%;
  
}

[class^="color_"] .nombre{
    text-align: start;
}

[class^="color_"] .nombre h3{
    margin-bottom: 0;
    font-size: 50px;
}

[class^="color_"] .nombre p{
    margin: 0;
}

.color_1 {
    background-color: #FFBF00;
    color: white;
}

.color_2 {
    background-color: #141414;
    color: white;
}

.color_3{
    background-color: #FDFDFD;
    color: black;
}

.color_4 {
    background-color: #149A8D;
    color: white;
}

.color_5{
    background-color: #9A1423;
    color: white;
}

@media (max-width: 768px){
    .containerColor_2 {
       
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        
        
        /* Ocupar dos columnas completas */
    }
}