/* btnNavigate.css */
.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: 101;
    animation: 12s fadeIn;
    opacity: 1;
}

@keyframes fadeIn {
    
    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

  .fab-container.show {
    opacity: 1;
  }
  
  .fab-container.show .arrow-button {
    height: 50px;
    width: 25px;
    border-radius: 16px;
    background-color: var(--noir);
    margin-bottom: 8px;
  }
  
  .arrow-icon {
    color: var(--blanc);
  }
  