.navb {
    width: 100%;
    height: 50px;
    background-color: var(--blanc);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    animation: 12s fadeIn;
    opacity: 1;
}

@keyframes fadeIn {
    
    50% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }
}

.navba {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navba .logo {
    height: auto;
    margin-bottom: 10px;
}

.navba img {
    margin-top: 5px;
    height: 25px;
}

.navb a {
    text-decoration: none;
    color: var(--noir);
}

.navb a:hover {
    color: #8e8e8e;
}

.navb h1 {
    font-family: 'MighaThin';
    font-size: 18px;
}

.navb .links {
    width: 300px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.navb .links .linkZ {
    width: 200px;
}

.navb .links:last-child {
    width: 120px;
    margin-top: 5px;
    margin-left: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}