.bannerT{
    background-color: #141414;
    flex: 3;
    margin-top: 0px !important;
    margin: 4px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.bannerT .newL {
    background-color: #fdfdfd;
    flex: 2;
    margin-top: 0px !important;
    margin: 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerT .newL h1 {
    margin: 0;
    margin-bottom: 20px;
    font-family: "MighaMedium";
    color: #141414;
    text-align: end;
}

.bannerT .newL h2 {
    margin: 0;
    font-family: "MighaThin";
    color: #141414;
    text-align: end;
}

.bannerT .prodI {
    background-color: chartreuse;
    flex: 1;
    margin: 4px;
}