.section {
    width: 100%;
    height: 100vh;
    background-color: var(--blanc);
    color: var(--noir);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'MighaThin';
    font-size: 100px;
    pointer-events: none;
    flex-direction: column;
    text-align: center;
}

.shirts {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50px);
}

@keyframes fadeI {
    0% {
        transform: translateX(-400px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeD {
    0% {
        transform: translateX(400px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.shirt1 {
    animation: 10s fadeI;
}

.shirt2 {
    animation: 10s fadeD;
}

.shirts img {
    width: 700px;
}

